.fundo {
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    width: 100%;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.texto{
    display: flex;
    flex-direction: column;
    font-family: 'karla';
    padding-top: 30px;
    padding-left: 270px;
    text-align: left;
}

.texto h1{
    font-size: 64px;
}

.button-30 {
    align-items: center;
    appearance: none;
    background: #73D677;
    border-radius: 5px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #212121 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #73D677 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #73D677 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #73D677 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #73D677 0 3px 7px inset;
    transform: translateY(2px);
}